body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.cabecalho {
    display: flex;
    background: rgb(56, 56, 56);
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 85px;
    position: fixed;
}

.fundo {
    display: flex;
    background: rgb(56, 56, 56);
    flex-direction: row;
    align-items: center;
    height: 350px;
    padding: 85px;
}

.fundo2 {
    display: flex;
    background: rgb(255, 255, 255);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 325px;
}

.edvilhas {
    border: 4px solid rgb(56, 56, 56);
    border-radius: 10px 10px;
    background-color: rgb(107, 107, 107);
    width: 400px;
    height: 80%;
}

.ednaldo img {
    width: 150px;
    padding-left: 125px;
    padding-top: 12px;
    padding-bottom: 6px;
}

.edtexto {
    padding-left: 20px;
    font-size: larger;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.greg img {
    width: 150px;
    padding-left: 125px;
    padding-top: 12px;
    padding-bottom: 5px;
}

.gregtexto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: white;
    padding-left: 12px;
}

.marido img{
    width: 150px;
    padding-left: 125px;
    padding-top: 12px;
    padding-bottom: 5px;
}

.maritexto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: large;
    padding-left: 6px;
}

.fundo3 {
    display: flex;
    flex-direction: column;
    background: rgb(191, 191, 191);
    width: 100%;
    height: 275px;
}

.rodape {
    display: flex;
    background: rgb(56, 56, 56);
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 80px;
}

.nome {
    user-select: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 10px;
    margin-top: 20px;
    font-size: large;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

#direitos {
    color: white;
    user-select: none;
}

.bordao {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    justify-content: center;
}

.confissao {
    margin: 10px;
    justify-content: right;
}

#textola {
    font-size: 20px;
}

.jump {
    margin-top: 2px;
}

#quinentos {
    color: red;
}

.texto {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-style: italic;
    padding-left: 100px;
    padding-top: 75px;
}

.texto2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-style: italic;
    padding-left: 100px;
}

.velho {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 25px;
    padding-left: 100px;
}

.fundo4 {
    display: flex;
    background: white;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.sobre {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 550px;
}

.produtos {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 20px;
}

.termos {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 20px;
}